.btn__container {
  width: 100%;
  min-height: 45px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #007aff;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.loading {
  width: 25px !important;
  height: 25px !important;
  color: white !important;
}
