.dashboard__wrapper {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.db__main {
  width: 100%;
  background: rgba(211, 211, 211, 0.301);
  height: fit-content;
  box-sizing: border-box;
  padding: 10px;
}
@media (max-width: 480px) {
  .dashboard__wrapper {
    width: 100%;
  }
}
