.Terms__container {
  width: 90%;
}
.terms__heading {
  font-size: 25px;
}
.terms__header_para {
  font-size: 12px;
  margin: 12px 0;
}
.terms__body {
  font-size: 8px;
  color: grey;
}
.psignup__confirm {
  margin-top: 105px;
  display: flex;
}
.Psignup__confirmline {
  font-size: 9px;
  margin-left: 8px;
  margin-top: 1px;
  margin-bottom: 10px;
}
