.signin__container {
  width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

@media (max-width: 480px) {
  .signin__container {
    width: 100%;
  }
}
