.bottom__slide {
  width: 480px;
  height: 400px;
  background-color: white;
  position: fixed;
  bottom: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  z-index: 300;
  left: 0;
  height: fit-content;
  box-sizing: border-box;
  overflow: hidden;
}
.open__bslide {
  animation: bottomup 0.6s ease-out;
}
.close__bslide {
  animation: closebslide 0.6s ease-out farwards;
}

.backdrop {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  display: flex;
  left:0;
  top:0;
  justify-content: center;
}
@keyframes bottomup {
  from {
    transform: translateY(80vh);
  }
  to {
    transform: translateY(0vh);
  }
}
@keyframes closebslide {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(80vh);
  }
}
@media (max-width: 480px) {
  .bottom__slide {
    width: 100%;
  }
}
