.table__wrapper {
  width: 100%;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.568);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px 0px;
  border-left: none;
}
.table__body {
  display: grid;
}
.table__heading {
  padding: 10px 7px;
  font-weight: bold;
  background-color: lightgray;
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(128, 128, 128, 0.568);
  font-size: 14px;
}
.table__data {
  padding: 5px 7px;
  display: flex;
  justify-content: center;
  border-left: 1px solid rgba(128, 128, 128, 0.568);
  font-size: 14px;
  color: rgba(144, 139, 139, 0.774);
  font-weight: bold;
  box-sizing: border-box;
}
